<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Odin Flight Booker, </h1>
    <p>
      You have successfully booked your flight <br>
     
      Thank you for choosing Odin Flight Booker and we hope you enjoy your trip.
    </p>
  </body>
</html>
